.chatsContainer {
  height: 100% !important;
  width: 100%;
  border: 1px solid red;
}

.chatsGrid {
  display: flex;
  flex-direction: row;
}

.messages_page__list_scroll {
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.h100 {
  height: 100% !important;
}

.chat {
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
}